<footer class="footer text-center">
    <a href="/" class="logo"><img src="../img/cyber-services.svg" alt="CyberServices logo" title=""></a>
    <nav class="social-links">
        <a href="#" target="_blank"><i class="icon-facebook">facebook</i></a>
        <a href="#" target="_blank"><i class="icon-twitter">twitter</i></a>
        <a href="#" target="_blank"><i class="icon-linkedin">linkedin</i></a>
    </nav>
    <p>&copy; 2015 CYBER SERVICES ZRT.<br>
        <a href="#" class="text-link">Impresszum</a>
    </p>
</footer>
