<header class="header">
    <div class="container text-center">
        <a class="logo" href="/"><img src="../img/cyber-services.svg" alt="CyberServices logo" title=""></a>
        <button class="toggle-menu"><img src="../img/menu.svg" alt="Menu" title=""></button>
        <nav class="main-menu">
            <a href="#" class="active">Kezdőlap</a></li>
            <a href="#rolunk">Rólunk</a>
            <a href="#szolgaltatasok">Szolgáltatások</a>
            <a href="#szerepvallalasok">Szerepvállalások</a>
            <a href="#legfrissebb">Legfrissebb</a>
            <a href="#kapcsolat">Kapcsolat</a>
        </nav>
        <div class="languages dark dropdown">
            <select id="language-chooser">
                <option value="https://cyberservices.hu/" selected>hu</option>
                <option value="https://cyberservices.com/">en</option>
            </select>
        </div>
    </div>
</header>
