<section class="hero text-center">
    <h1><a href="#rolunk">Védje meg digitális értékeit a zsaroló vírusoktól</a></h1>
</section>
<section id="rolunk" class="aboutus container text-center">
    <div class="top-line"></div>
    <h1>Rólunk</h1>
    <nav class="tabs">
        <a href="#kuldetesunk" class="active">Küldetésünk</a>
        <a href="#szolgaltatasi_teruletek">Szolgáltatási területek</a>
        <a href="#celkituzesunk">Célkitűzésünk</a>
    </nav>
    <section id="kuldetesunk" class="tabcontent active">
        <p>
            A Cyber Services Zrt. egy tudás alapú kiberbiztonsági szolgáltató, amely a kibertér kontrollálhatóságán és az események, incidensek előrejelzésén dolgozik.
            <br>
            A Cyber Services Zrt. proaktív kibervédelmi megoldásokat kínál nem csak a hazai, hanem a nemzetközi piacon egyaránt, elsősorban a nagyvállalatok és a kormányzatok számára.
        </p>
    </section>
    <section id="szolgaltatasi_teruletek" class="tabcontent">
        <p>A tradícionális IT és információbiztonsági tanácsadás és kutatás-fejlesztés mellett a Cyber Services Zrt. holisztikus kibervédelmi életciklus-menedzsment szolgáltatást nyújt az alábbiak szerint:</p>
        <p>Megelőző védekezés: ideértve a kiberfenyegetettség-elemzést, információelemzést, több szintű biztonságtudatosság növelő programokat, tehetséggondozást, humánerőforrás- és képességfejlesztést, gamification programokat, kiberbiztonsági gyakorlatok megtervezését és levezetését, ethical hacking szolgáltatásokat, sérülékenység vizsgálatokat;</p>
        <p>Biztonságmenedzsment szolgáltatások: ideértve a log menedzsment, incident menedzsment, sérülékenység menedzsment, hálózatbiztonsági monitoring, biztonsági műveleti központ szolgáltatásokat;</p>
        <p>Incidens kezelés: biztonsági incidensek kivizsgálása, hálózati- és számítógépes elemző (forensics) tevékenység, malware elemzés, APT kampányok elemzése, valamint malware és APT kampányok kárenyhítése;</p>
        <p>Kárenyhítés IT biztonsági kockázatok és káresemények hatásáank csökkentése, software refactoring szolgáltatások, IT rendszerek megerősítését (hardening) célzó eljárások;</p>
        <p>Tudástranszfer és oktatás: kiberbitonsági képességfejlesztés, beleértve a specializált információbiztonsági és kibervédelmi tanfolyamokat;</p>
        <p>Kibervédelmi döntéstámogató információmegosztás, tanácsadás: üzleti folyamatok biztonsági szempontú újratervezése és vezetői döntéstámogatás.</p>
        <p>A kiemelkedő gyakorlati tudásnak köszönhetően a Cyber Services Zrt. vezető szakértői áttekintik, átalakítják, vagy akár kialakítják a szükséges szabályozásokat és folyamatokat mindezzel biztosítva az információs rendszerek kiberbiztonságának egyenszilárdságát.</p>
    </section>
    <section id="celkituzesunk" class="tabcontent">
        <p>A Cyber Services Zrt. a biztonsági piac meghatározó szereplőivel való együttműködésben érdekelt, hogy minél szélesebb körben váljon képessé kibervédelmi szolgáltatásainak értékesítésére, ügyfelei kiberbiztonságának növelésére.</p>
    </section>
    <div class="bottom-line"></div>
</section>
<section id="eredmenyek" class="achievements text-center">
    <div class="container">
        <div>
            <h3>20+ ELTÖLTÖTT ÉV AZ INFORMÁCIÓBIZTONSÁG TERÜLETÉN</h3>
            <small>Több évtizedes szakértői tapasztalat a kiberbiztonság területén</small>
        </div>
        <div>
            <h3>5 ÉV KORMÁNYZATI MUNKA ÉS EU, NATO, ENSZ SZEREPVÁLLALÁSOK</h3>
            <small>Vezetői szerepvállalás hazai és nemzetközi szervezeteknél és hatóságoknál</small>
        </div>
        <div>
            <h3>1500+ KIEMELT INFORMÁCIÓBIZTONSÁGI PROJEKT</h3>
            <small>Együttműködés közigazgatási, katonai, ipari, szolgáltatói és egyéb piaci szereplőkkel</small>
        </div>
        <div>
            <h3>2000+ NEMZETKÖZI PROJEKTEN ELTÖLTÖTT SZAKÉRTŐI EMBERNAP</h3>
            <small>Jelentős nemzetközi kormányzati és piaci projekt tapasztalat 5 kontinensen, több mint egymillió repült kilométerrel</small>
        </div>
        <div>
            <h3>KONFERENCIA MEGJELENÉSEK</h3>
            <small>Szervezői, előadói, keynote speaker szintű részvétel a legnagyobb hazai és nemzetközi szakmai konferenciákon</small>
        </div>
        <div>
            <h3>SZAKMAI EREDMÉNYEK</h3>
            <small>Részvétel kutatási és fejlesztési projektekben, jogszabályok és nemzetközi szabványok megalkotásában, honosításában</small>
        </div>
        <div>
            <h3>OKTATÁSI TEVÉKENYSÉGEK</h3>
            <small>Saját fejlesztésű csoportos és egyedi igényekre szabott, akkreditált információbiztonsági és kiberbiztonsági tanfolyamok, tréningek és gyakorlatok szervezése és végrehajtása</small>
        </div>
        <div>
            <h3>TÁRSADALMI FELELŐSSÉG</h3>
            <small>Pro bono tevékenység a hazai köznevelés, egyetemi képzés, hazai és nemzetközi szakmai közösségek és civil szervezetek támogatása érdekében</small>
        </div>
    </div>
</section>
<section id="szakertok" class="experts-container container text-center">
    <div class="top-line"></div>
    <h1>Találkozzon szakértőinkkel</h1>
    <h2>20 év tapasztalattal segítjük Önt</h2>
    <div class="middle-line"></div>
    <div class="experts">
        <article class="expert">
            <img class="expert-pic" src="../img/ferenc.jpg" srcset="img/ferenc.jpg, img/ferenc@2x.jpg 2x, img/ferenc@3x.jpg 3x" alt="Frész Ferenc">
            <h3 class="expert-name">Frész Ferenc</h3>
            <p class="expert-title">CEO</p>
            <nav class="social-links">
                <a href="#" target="_blank"><i class="icon-facebook">facebook</i></a>
                <a href="#" target="_blank"><i class="icon-twitter">twitter</i></a>
                <a href="#" target="_blank"><i class="icon-linkedin">linkedin</i></a>
            </nav>
        </article>
        <article class="expert">
            <img class="expert-pic" src="../img/an.jpg" srcset="img/an.jpg, img/an@2x.jpg 2x, img/an@3x.jpg 3x" alt="Mádi-Nátor Anett">
            <h3 class="expert-name">Mádi-Nátor Anett</h3>
            <p class="expert-title">Nemzetközi igazgató</p>
            <nav class="social-links">
                <a href="#" target="_blank"><i class="icon-facebook">facebook</i></a>
                <a href="#" target="_blank"><i class="icon-twitter">twitter</i></a>
                <a href="#" target="_blank"><i class="icon-linkedin">linkedin</i></a>
            </nav>
        </article>
        <article class="expert">
            <img class="expert-pic" src="../img/ng.jpg" srcset="img/ng.jpg, img/ng@2x.jpg 2x, img/ng@3x.jpg 3x" alt="Nagymajtényi Gábor">
            <h3 class="expert-name">Nagymajtényi Gábor</h3>
            <p class="expert-title">CTO</p>
            <nav class="social-links">
                <a href="#" target="_blank"><i class="icon-facebook">facebook</i></a>
                <a href="#" target="_blank"><i class="icon-twitter">twitter</i></a>
                <a href="#" target="_blank"><i class="icon-linkedin">linkedin</i></a>
            </nav>
        </article>
        <article class="expert">
            <img class="expert-pic" src="../img/vcs.jpg" srcset="img/vcs.jpg, img/vcs@2x.jpg 2x, img/vcs@3x.jpg 3x" alt="Virág Csaba">
            <h3 class="expert-name">Virág Csaba</h3>
            <p class="expert-title">Stratégiai Tanácsadó</p>
            <nav class="social-links">
                <a href="#" target="_blank"><i class="icon-facebook">facebook</i></a>
                <a href="#" target="_blank"><i class="icon-twitter">twitter</i></a>
                <a href="#" target="_blank"><i class="icon-linkedin">linkedin</i></a>
            </nav>
        </article>
        <article class="expert">
            <img class="expert-pic" src="../img/tp.jpg" srcset="img/tp.jpg, img/tp@2x.jpg 2x, img/tp@3x.jpg 3x" alt="Tóth Péter R.">
            <h3 class="expert-name">Tóth Péter R.</h3>
            <p class="expert-title">CISO</p>
            <nav class="social-links">
                <a href="#" target="_blank"><i class="icon-facebook">facebook</i></a>
                <a href="#" target="_blank"><i class="icon-twitter">twitter</i></a>
                <a href="#" target="_blank"><i class="icon-linkedin">linkedin</i></a>
            </nav>
        </article>
    </div>
    <div class="bottom-line"></div>
</section>
<section id="szolgaltatasok" class="services-container container text-center">
    <div class="symbol"><img src="../img/symbol.svg" alt=""></div>
    <h1>Szolgáltatások</h1>
    <h2>Teljeskörű kiberbiztonsági megoldások</h2>
    <div class="services">
        <article class="service">
            <h4>Proaktív kiberbiztonsági szolgáltatások</h4>
            <div class="icon"><img src="../img/lightbulb.svg" alt=""></div>
            <p>Ne várja meg, míg vállalata kibertámadás áldozata lesz. Szakértőink naprakész szituációs tudást adnak Önnek a fenyegetésekről.</p>
        </article>
        <article class="service">
            <h4>Kiberbiztonság menedzsment szolgáltatások</h4>
            <div class="icon"><img src="../img/security.svg" alt=""></div>
            <p>Vezető szakértőink teljeskörű tanácsadással, tervezéssel és kivitelezéssel segítenek vállalata számára kézbentartható
                kiberbiztonsági megoldások kialakításában és üzemeltetésében.</p>
        </article>
        <article class="service">
            <h4>Kiberbiztonsági incidensek kezelése</h4>
            <div class="icon"><img src="../img/tools.svg" alt=""></div>
            <p>Vezető elemzőink segítenek, ha már bekövetkezett a baj.
                Ha vállalata hekkertámadás áldozata, vírustámadás elszenvedője, adatszivárgás, netán adatlopás károsultja,
                külső reagáló erőként segítjük vállalatát az incidensek kivizsgálásában.
            </p>
        </article>
        <article class="service">
            <h4>Kibertámadások káros következményeinek csökkentése</h4>
            <div class="icon"><img src="../img/medkit.svg" alt=""></div>
            <p>Kiberbiztonsági incidensek esetén a legfontosabb a mihamarabbi helyreállítás.
                Külső reagáló szakértői egységként segítjük ügyfeleinket a károk minimalizálásában és a normál üzletmenet leggyorsabb visszaállításában.
            </p>
        </article>
        <article class="service">
            <h4>Információmegosztási, döntéstámogatási szolgáltatások</h4>
            <div class="icon"><img src="../img/report.svg" alt=""></div>
            <p>Naprakész kiberbiztonsági információkkal látjuk el,
                segítünk az esetleges incidensek kommunikációjában.
                Vezetői döntéstámogatás szolgáltatásunkkal felelős döntéseket hozhat a kiberbiztonság teljes területén.
            </p>
        </article>
    </div>
</section>
<section id="szerepvallalasok" class="engagement text-center">
    <h1>Szerepvállalás</h1>
    <h2>Non-profit, pro bono tevékenységünk</h2>
    <div class="slides">
        <div class="slide">
            <img src="../img/pic.jpg" srcset="img/pic.jpg, img/pic@2x.jpg 2x, img/pic@3x.jpg 3x"  alt="" title="GLOBAL FORUM ON CYBER EXPERTISE">
            <div class="slide-title">
                <p>Lorem ipsum dolor sit amet</p>
                <small>Whatever</small>
                <a href="details.html" class="button">Részletek</a>
            </div>
        </div>
        <div class="slide">
            <img src="../img/pic.jpg" srcset="img/pic.jpg, img/pic@2x.jpg 2x, img/pic@3x.jpg 3x"  alt="" title="GLOBAL FORUM ON CYBER EXPERTISE">
            <div class="slide-title">
                <p>Chitchat</p>
                <small>Sponsor</small>
                <a href="details.html" class="button">Részletek</a>
            </div>
        </div>
        <div class="slide">
            <img src="../img/pic.jpg" srcset="img/pic.jpg, img/pic@2x.jpg 2x, img/pic@3x.jpg 3x"  alt="" title="GLOBAL FORUM ON CYBER EXPERTISE">
            <div class="slide-title">
                <p>GLOBAL FORUM ON CYBER EXPERTISE</p>
                <small>Alapító tag</small>
                <a href="details.html" class="button">Részletek</a>
            </div>
        </div>
    </div>
</section>
<div class="bg-lines">
    <section id="legfrissebb" class="news container text-center">
        <h1>Legfrissebb</h1>
        <div class="cols">
            <section>
                <h2>Legfrissebb híreink</h2>
                <iframe id="news">IFRAME</iframe>
            </section>
            <section>
                <h2>Soron következő rendezvényünk</h2>
                <iframe id="events">IFRAME</iframe>
            </section>
        </div>
    </section>
    <section id="kapcsolat" class="container text-center">
        <h1>Kapcsolat</h1>
        <h2 class="narrow-text">Kérje részletes tájékoztatónkat, munkatársunk egy munkanapon belül jelentkezik önnél a megadott címen vagy telefonszámon.</h2>
        <p class="contact">
            <a href="mailto:info@cyber.services" class="text-link"><img src="../img/envelope.svg"> info@cyber.services</a>
            <a href="https://goo.gl/maps/r1NsDs26GKD2" target="_blank" class="address text-link"><img src="../img/poi.svg"> 1089 Budapest, Elnök utca 1.</span>
        </p>
        <form action="#" class="contact-form" method="POST">
            <label for="message" id="message-label">Az Ön üzenete</label>
            <textarea name="message" id="message" cols="30" rows="10" placeholder="..."></textarea>
            <label for="email" id="email-label">Email</label>
            <input type="email" name="email" id="email" placeholder="email@domain.com">
            <label for="phone" id="phone-label">Telefonszám</label>
            <input type="tel" name="phone" id="phone" placeholder="06301234567">
            <label for="name" id="name-label">Név</label>
            <input type="text" name="name" id="name" placeholder="John Doe">
            <button type="submit" id="contact-form-submit">Elküld</button>
        </form>
    </section>
</div>
