<div class="content-header">
    <h1>Szerepvállalás</h1>
    <h2>Non-profit, pro bono tevékenységünk</h2>
    <img src="../img/pic.jpg" srcset="../img/pic.jpg, ../img/pic@2x.jpg 2x, ../img/pic@3x.jpg 3x">
</div>
<div class="content-container">
    <article class="content">
        <h1>Global forum on cyber expertise</h1>
        <h2>Global forum for cyber capacity building</h2>
        <p>2015 tavaszán 4. alkalommal került megrendezésre a Global Cyber Space konferencia, amelynek keretében a résztvevők megalapították a Global Forum on Cyber Experties szervezetet.</p>
        <p>Magyarország részéről vezető szakértőink is az alapítók között vannak, az egyik legfontosabb kérdéskörrel foglalkoznak, a felelősségteljes információ megosztás témájával.</p>
        <p></p>A GFCE munkájában több mint 50 szervezet és oszág dolgozik együtt olyan kezdeményezéseken, amelyek erősíthetik a kiberbiztonság szintjét, sikerrel veszik fel a harcot a kiberbűnözéssel szemben, erősítik a személyes adatok on-line védelmét és támogatják a biztonságos kibertér fejlődését.</p>
    </article>
    <section class="related">
        <article class="related-content">
            <img src="../img/pic.jpg" srcset="../img/pic.jpg, ../img/pic@2x.jpg 2x, ../img/pic@3x.jpg 3x"  alt="" title="GLOBAL FORUM ON CYBER EXPERTISE">
            <h3>INFORMATIKAI VÁLLALKOZÁSOK SZÖVETSÉGE</h3>
            <p>Kibervédelmi munkacsoport vezetése</p>
            <a href="#" class="button">Részletek</a>
        </article>
        <article class="related-content">
            <img src="../img/pic.jpg" srcset="../img/pic.jpg, ../img/pic@2x.jpg 2x, ../img/pic@3x.jpg 3x"  alt="" title="GLOBAL FORUM ON CYBER EXPERTISE">
            <h3>EURÓPAI KIBERBIZTONSÁGI SZERVEZET</h3>
            <p>Alapító tag</p>
            <a href="#" class="button">Részletek</a>
        </article>
    </section>
</div>
