<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>CyberServices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<%= require('html-loader!./templates/header.ejs') %>
<%= require('html-loader!./templates/subpage.ejs') %>
<%= require('html-loader!./templates/footer.ejs') %>
</body>
</html>
