<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>CyberServices</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
<%= require('html-loader!./templates/header.ejs') %>
<%= require('html-loader!./templates/main.ejs') %>
<%= require('html-loader!./templates/footer.ejs') %>
</body>
</html>
<!-- TODO: Workaround for scrset images ;( -->
<% require('./img/ferenc@2x.jpg') %>
<% require('./img/ferenc@3x.jpg') %>
<% require('./img/an@2x.jpg') %>
<% require('./img/an@3x.jpg') %>
<% require('./img/ng@2x.jpg') %>
<% require('./img/ng@3x.jpg') %>
<% require('./img/pic@2x.jpg') %>
<% require('./img/pic@3x.jpg') %>
<% require('./img/tp@2x.jpg') %>
<% require('./img/tp@3x.jpg') %>
<% require('./img/vcs@2x.jpg') %>
<% require('./img/vcs@3x.jpg') %>
