body {
    font: 400 16px / 1.5 Roboto, Arial, Helvetica, sans-serif;
    color: $slate-grey;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: $dark-slate-blue;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    color: $slate-grey;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    color: $dark-slate-blue;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: $dark-slate-blue;
}

small, .small {
    font-size: 14px;
    line-height: 1.71;
    color: $slate-grey;
}

textarea {
    border-radius: 10px;
    background: $input-bg;
    padding: 10px 20px;
}

input {
    border-radius: 50px;
    background: $input-bg;
    padding-left: 20px;
    padding-right: 20px;
}

button, .button {
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 50px;
    background: $dark-slate-blue;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
}
