html, body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

input, select, textarea, button {
    font: inherit;
    border: 0;
    outline: none;
    resize: none;
}

a {
    text-decoration: none;
    transition: color .23s ease;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
    display: inline-block;
}
