@charset "UTF-8";

$slick-loader-path: "../img/" !default;
$slick-arrow-color: white !default;
$slick-prev-character: "<" !default;
$slick-next-character: ">" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
}

.slick-track {
    padding: 40px 0;

    @media screen and (max-width: $screen-desktop) {
        padding-bottom: 20px;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    z-index: 10;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: #121827;
    color: transparent;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    outline: none;
    transition: background .23s ease;

    &:hover,
    &:focus {
        background: $white;

        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }

    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }

    &:before {
        opacity: $slick-opacity-default;
    }
}

.slick-prev {
    left: 25px;

    &:before {
        content: url(../img/arrowleft.svg);
    }
}

.slick-next {
    right: 25px;

    &:before {
        content: url(../img/arrowright.svg);
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 15px;
        width: 15px;
        margin: 0;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            border-radius: 50%;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            cursor: pointer;

            &:hover,
            &:focus {
                outline: none;

                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid $white;
                opacity: $slick-opacity-not-active;
            }
        }

        &.slick-active button:before {
            background: $white;
            opacity: $slick-opacity-default;
        }
    }
}

/* Slide */
.slick-slide {
    position: relative;
    transform: scale(.8);
    transition: transform .23s ease;
    box-shadow: 0 0 40px rgba(0,0,0,.5);

    &.slick-current {
        transform: scale(1);
        transition: transform .23s ease;

        &:before {
            opacity: 0;
        }

        .slide-title {
            transform: rotateX(0);
        }
    }

    &:before {
        content: '';
        position: absolute;
        left:0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: .7;
        transition: opacity .23s ease;
    }

    img {
        margin: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .slide {
        display: block!important;
        overflow: hidden;
    }

    .slide-title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 100vw;
        margin: auto;
        background: transparentize($slide-title, .11);
        color: $white;
        text-align: center;
        padding: 12px 6px 33px;
        transform: rotateX(90deg);
        transform-origin: 50% 100%;
        transition: transform .23s ease;

        p {
            margin: 0 0 -5px;
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
        }

        small {
            color: $white;
            font-size: 12px;
        }

        .button {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
