// COLORS
$white:             #fff;
$midnight:          #010b24;
$dark-slate-blue:   #172e66;
$slate-grey:        #5d6577;
$dark-sky-blue:     #4a90e2;
$pale-grey:         #f5f7fa;
$powder-blue:       #aac6ff;
$header-bg:         #0a0e18;
$input-bg:          #eff0f4;
$input-border:      #c1c4cc;
$slide-title:       #040c1f;

$gap:               20px;
$grid:              2 * $gap;

$stitch-width:      1px;

$screen-mobile:     320px;
$screen-tablet:     768px;
$screen-desktop:    1024px;
