@import 'variables';
@import 'helpers';
@import 'reset';
@import 'elements';

@import '~slick-carousel/slick/slick';
@import 'slick-theme';

.container {
    max-width: 20 * ($grid + $gap) - $gap;
    margin-left: auto;
    margin-right: auto;
}

.cols {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;

    @media screen and (max-width: $screen-desktop) {
        flex-direction: column;
        align-items: center;
    }

    section {
        flex: 1 1 480px;
        max-width: 480px;
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 430px;
        border: 0;
    }
}

.text-link {
    color: inherit;
}

.logo {
    img {
        max-height: 48px;

        @media screen and (max-width: $screen-desktop) {
            .header & {
                max-height: 24px;
            }
        }
    }
}

.dropdown {
    overflow: hidden;
    position: relative;

    &:after {
        content: url(../img/arrow.svg);
        position: absolute;
        top: 0;
        right: 8px;
        pointer-events: none;
    }

    &.dark {
        border: 1px solid $dark-slate-blue;

        select,
        option {
            color: $dark-sky-blue;
            background: $header-bg;
        }
    }

    select {
        cursor: pointer;
        appearance: none;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        font-size: 10px;
        font-weight: 700;
        padding: 5px 28px 5px 8px;
        text-transform: uppercase;

        &:focus {
            outline: none;
        }
    }
}

.tabs {
    margin: 18px 0 36px;

    @media screen and (max-width: $screen-tablet) {
        display: inline-flex;
        flex-direction: column;
        text-align: left;
        width: 100%;
        max-width: 300px;
        margin: -12px 0 0;
        border: 1px solid $input-border;
        background: url(../img/arrow.svg) no-repeat calc(100% - 16px) 20px / 14px auto;

        &.open {
            a {
                display: block;
            }
        }

        a {
            display: none;
            margin: 0;
            padding: 12px 24px 12px 12px;

            &.active {
                display: block;
            }
        }
    }

    a {
        text-transform: uppercase;
        color: $dark-slate-blue;
        margin: 0 $gap;

        &:hover,
        &.active {
            color: $dark-sky-blue;
        }
    }
}

.tabcontent {
    display: none;
    max-width: 800px;
    margin: 0 auto;

    &.active {
        display: block;
    }
}

#kuldetesunk {
    max-width: 680px;
}

[class^=icon-] {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    &:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        text-indent: 0;
    }
}

.icon-facebook:before   { content: url(../img/facebook.svg); }
.icon-twitter:before    { content: url(../img/twitter.svg); }
.icon-linkedin:before   { content: url(../img/linkedin.svg); }

.narrow-text {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.social-links {
    font-size: 0;
    margin: 10px 0;

    a {
        display: inline-block;
        margin: 0 5px;
        transition: transform .23s ease;

        &:hover {
            transform: scale(1.5);
        }
    }
}

//////

.header {
    background: $header-bg;
    padding: 0 15px 0 10px;

    .container {
        min-height: 96px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: $screen-desktop) {
            padding: 12px 0;
            min-height: 0;
        }
    }

    .logo img {
        display: block;
    }
}

.toggle-menu {
    display: none;
    order: 2;
    margin-left: auto;
    padding: 0;
    background: none;

    @media screen and (max-width: $screen-desktop) {
        display: block;
    }
}

.main-menu {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $screen-desktop) {
        display: none;
        order: 3;
        flex-direction: column;
        width: 100%;
        align-items: start;
        padding-top: 12px;

        a {
            margin: 0;
        }
    }

    a {
        font-size: 14px;
        color: $dark-sky-blue;
        text-transform: uppercase;
        text-shadow: 0 0 20px fade($powder-blue, 50);
        margin: 0 15px;

        &:hover,
        &.active {
            color: $pale-grey;
        }
    }
}

.languages {
    margin-left: 10px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/header-image.jpg) no-repeat center / cover;
    width: 100vw;
    height: 100vw * 9 / 16;
    min-height: 420px;
    max-height: calc(100vh - 96px);
    padding: 0 40px 40px;

    @media (min-resolution: 2dppx) {
        background-image: url(../img/header-image@2x.jpg);
    }

    @media (min-resolution: 3dppx) {
        background-image: url(../img/header-image@3x.jpg);
    }

    h1 {
        margin: 0;
        color: $white;
        font-size: 50px;
        font-weight: 300;
        text-shadow: 0 0 10px $powder-blue;
        max-width: 27ch;

        @media screen and (max-width: $screen-desktop) {
            font-size: 28px;
        }

        a {
            color: inherit;
        }
    }
}

.aboutus {
    padding: 0 10px;

    .top-line,
    .bottom-line {
        position: relative;
        width: 0;
        border-left: $stitch-width dashed $powder-blue;
        transform: translateX($stitch-width / 2);

        &:after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: $stitch-width solid $powder-blue;
            transform: translateX(-5px - $stitch-width / 2);
        }
    }

    .top-line {
        height: 60px;
        margin: 0 auto 40px;

        &:after {
            top: 100%;
        }
    }

    .bottom-line {
        height: 120px;
        margin: 40px auto 0;

        &:after {
            bottom: 100%;
        }
    }
}

.achievements {
    background: url(../img/lines-bg.svg) center /  cover lighten($dark-sky-blue, 39);
    padding: 80px $grid;

    @media screen and (max-width: $screen-desktop) {
        padding: 28px $grid;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $grid;

        @media screen and (max-width: $screen-desktop) {
            grid-template-columns: 1fr;
            grid-gap: 30px;
        }
    }

    h3 {
        margin: 0;
    }
}

.bg-lines {
    background: url(../img/lines-bg.svg) center / 100% auto;
    padding: 0 10px 140px;
}

.experts-container {
    position: relative;

    @media screen and (max-width: $screen-desktop) {
        .top-line,
        .middle-line,
        .bottom-line {
            display: none;
        }
    }

    .top-line {
        width: calc(50% - 18px);
        margin-left: 22px;
        height: 96px;
        border-right: $stitch-width dashed $powder-blue;
        border-bottom: $stitch-width dashed $powder-blue;
        border-radius: 0 0 20px 0;
    }

    .middle-line {
        border-bottom: $stitch-width dashed $powder-blue;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 95px;
        height: 265px;

        &:before {
            content: '';
            position: absolute;
            left: -20px;
            top: 0;
            bottom: -1px;
            width: 20px;
            border-radius: 20px 0 0 20px;
            border-left: $stitch-width dashed $powder-blue;
            border-bottom: $stitch-width dashed $powder-blue;
            border-top: $stitch-width dashed $powder-blue;
        }

        &:after {
            content: '';
            position: absolute;
            right: -20px;
            top: 100%;
            width: 20px;
            height: 300px;
            border-radius: 0 20px 20px 0;
            border-right: $stitch-width dashed $powder-blue;
            border-bottom: $stitch-width dashed $powder-blue;
            border-top: $stitch-width dashed $powder-blue;
        }
    }

    .bottom-line {
        height: 100px;
        border-left: $stitch-width dashed $powder-blue;
        border-top: $stitch-width dashed $powder-blue;
        border-radius: 20px 0 0 0;
        margin: 0 20px 0 50%;
    }

    h1 {
        margin: 80px auto 5px;
    }

    h2 {
        margin: 0 0 40px;
    }
}

.experts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    height: 375px;
    justify-content: space-between;

    @media screen and (max-width: $screen-desktop) {
        display: block;
        height: auto;
        margin-bottom: 70px;

        .expert {
            margin-bottom: 30px;
        }
    }
}

.expert-pic {
    border-radius: 50%;
    border: 6px solid $pale-grey;
    margin-bottom: 10px;
}

.expert-name {
    text-transform: uppercase;
    margin: 0;
}

.expert-title {
    margin: 0;
}

.symbol {
    display: inline-flex;
    width: 128px;
    height: 128px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: $stitch-width dashed $powder-blue;
}

.services-container {
    h1 {
        margin-bottom: 5px;
    }

    h2 {
        margin: 0 0 36px;
    }
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 60px;

    @media screen and (max-width: $screen-desktop) {
        display: block;
        margin: 0 10px;
    }
}

.service {
    position: relative;
    margin-left: $gap;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $screen-desktop) {
        margin: 0 0 16px;
    }

    &:first-child {
        margin-left: 0;
    }

    h4 {
        height: 125px;
        border: $stitch-width dashed $powder-blue;
        border-radius: 12px;
        margin: 0;
        padding: 10px 20px 30px;

        @media screen and (max-width: $screen-desktop) {
            height: auto;
            padding-bottom: 50px;
        }
    }

    p {
        @extend .small;
        flex: 1;
        border-radius: 12px;
        background: lighten($dark-sky-blue, 39);
        padding: 47px 15px 25px;
        margin: 0;
    }

    .icon {
        position: absolute;
        top: 125px;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        border: 5px solid $pale-grey;
        width: 80px;
        height: 80px;
        background: $white;

        @media screen and (max-width: $screen-desktop) {
            position: relative;
            top: 0;
            left: 0;
            margin: -40px auto;
            transform: none;
        }

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}

.engagement {
    background: url(../img/pic-blur.png) center / cover, linear-gradient(to bottom, #000, $dark-slate-blue);
    padding: 32px 0;

    @media (min-resolution: 2dppx) {
        background: url(../img/pic-blur@2x.png) center / cover, linear-gradient(to bottom, #000, $dark-slate-blue);
    }

    @media (min-resolution: 3dppx) {
        background: url(../img/pic-blur@3x.png) center / cover, linear-gradient(to bottom, #000, $dark-slate-blue);
    }

    @media screen and (max-width: $screen-desktop) {
        padding-bottom: 16px;
    }

    h1, h2 {
        color: $white;
        margin: 0;
    }

    h1 {
        margin-bottom: 5px;
    }
}

.news {
    padding-top: 68px;

    h2 {
        text-transform: uppercase;
    }
}

.contact {
    line-height: 2;

    img {
        margin-right: .3em;
    }

    .address {
        margin-left: $grid;
        white-space: nowrap;

        @media screen and (max-width: $screen-tablet) {
            margin-left: 0;
            display: block;
        }

        img {
            vertical-align: -0.2em;
        }
    }
}

.contact-form {
    display: grid;
    grid-template:
        "msg-label  email-label phone-label" 40px
        "message    email       phone" 40px
        "message    name-label  -" 72px
        "message    name        submit" 40px #{"/"} 2fr 1fr 1fr;
    column-gap: $gap;
    margin-top: 52px;
    text-align: left;

    @media screen and (max-width: $screen-tablet) {
        grid-template:
        "msg-label" 40px
        "message" 72px
        "email-label" 40px
        "email" 40px
        "name-label" 40px
        "name" 40px
        "phone-label" 40px
        "phone" 40px
        "-" 20px
        "submit" 40px #{"/"} 100%;
    }

    label {
        color: $dark-slate-blue;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        align-self: end;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#message-label          { grid-area: msg-label; }
#message                { grid-area: message; }
#email-label            { grid-area: email-label; }
#email                  { grid-area: email; }
#phone-label            { grid-area: phone-label; }
#phone                  { grid-area: phone; }
#name-label             { grid-area: name-label; }
#name                   { grid-area: name; }
#contact-form-submit    { grid-area: submit; }

.content-header {
    background: url(../img/pic-blur.png) center / cover, linear-gradient(to bottom, #000000, $dark-slate-blue);
    padding: 32px 16px 48px;

    @media (min-resolution: 2dppx) {
        background-image: url(../img/pic-blur@2x.png);
    }

    @media (min-resolution: 3dppx) {
        background-image: url(../img/pic-blur@3x.png);
    }

    @media screen and (max-width: $screen-desktop) {
        padding-bottom: 16px;
    }

    h1, h2 {
        color: $white;
        margin: auto;
    }

    h1 {
        margin-bottom: 5px;
    }

    img {
        display: block;
        margin: 36px auto 0;
        box-shadow: 0 0 40px rgba(0,0,0,.5);
        max-width: 640px;
        width: 100%;
    }
}

.content-container {
    max-width: 860px;
    padding: 0 20px;
    margin: auto;
}

.content {
    padding: 0 100px;
    margin-bottom: 140px;

    @media screen and (max-width: $screen-tablet) {
        padding: 0;
        margin-bottom: 40px;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align: left;
    }

    h1 {
        margin: 42px 0;
    }

    h1 + h2 {
        margin-top: -42px;
        margin-bottom: 3em;
    }
}

.related {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $screen-tablet) {
        flex-direction: column;
        align-items: center;
    }
}

.related-content {
    max-width: 360px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;

    @media screen and (max-width: $screen-tablet) {
        margin-bottom: 40px;
    }

    img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 40px rgba(0,0,0,.5);
    }

    h3 {
        margin: 10px 0 0;
    }

    p {
        margin: 0 auto 10px;
    }

    .button {
        margin-top: auto;
    }
}

.footer {
    padding: 34px;
    background: $midnight;
    color: $white;
}
